Revenue Data

In [ ]:
import pandas as pd
revenue_gr = pd.read_excel(r"D:\KRIDA - Toyota\01 - RAW DATA\01 - DATABASE BENGKEL\01 - GR Database\python_gr_data.xlsx")
revenue_gr.shape
pd.set_option('display.max_columns', None)

In [ ]:
# PostgreSQL
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:M0n3yh315t@localhost:5432/krida_db')
revenue_gr.to_sql('revenue_gr', con=engine, if_exists='replace', index=False)

SBERevenue GR (SBE 10K - 60K)

In [ ]:
import pandas as pd
import re

sbe_df = (
    revenue_gr.query("job_tipe != 'TWC'")
        .assign(
            kategori_wo2=lambda d: (
                d['kategori_wo']
                .astype(str)
                .str.replace('[.,]', '', regex=True)           # remove "." and ","
                .str.lower()                                   # convert to lowercase
                .str.replace(r'(\d+)(?=km)', r'\1 ', regex=True)  # add space before 'km'
                .apply(lambda x: x.split(' km', 1)[0].strip() if ' km' in x else x.strip())
            ),
            km=lambda d: pd.to_numeric(
                d['kategori_wo2'].str.extract(r'(\d+)(?=\s*$)')[0], errors='coerce'
            ),
        )
        .query("~job_tipe.isin(['BP','RTJ']) & km.notna() & 1000 <= km < 1000000 & km not in [2022,43030]")
        .sort_values("km", ascending=True)
        .loc[:, ['branch','service_advisor','no_rangka','model_kendaraan','no_polisi',
                 'tanggal_wo','no_wo','tanggal_invoice','job_tipe','kategori_wo',
                 'program_tam','jenis_wo','km']]
        .assign(
            service_ke=lambda d: d['km'].apply(lambda x: x // 1000 if x == 1000 else int(x / 10000 + 1))
        )
        .drop_duplicates(subset=['no_wo'])
        .drop_duplicates(subset=['no_rangka', 'service_ke'])
)

In [ ]:
# PostgreSQL
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:M0n3yh315t@localhost:5432/krida_db')
sbe_df.to_sql('sbe_df', con=engine, if_exists='replace', index=False)